body {
    font-family: Roboto;
    color: white;
    font-size: medium;
    background-image: url(../img/background.jpg);
}
header {
  background-color: rgb(1, 28, 17, 0.85);
  margin-top:10px;
  height: 165px;
  display: grid;
  grid-auto-flow: row;
  border-radius: 25px 25px 5px 5px;
  box-shadow: 3px 3px 5px rgb(167, 163, 163, 0.5); 
}
h1 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin-left: 55px;
    margin-top: 50px;
}
#labelUserName {
    position: absolute;
    color: white;
    right: 185px;
    top: 30px;
}
#inputUserName {
    position: absolute;
    right: 100px;
    top: 50px;
}
#labelPassWord {
    position: absolute;
    color: white;
    right: 185px;
    top: 80px;
}
#inputPassWord {
    position: absolute;
    right: 100px;
    top: 100px;
}
#logInBtn {
    position: absolute;
    right: 100px;
    top: 137px;
}
#newUserBtn {
    position: absolute;
    left: 660px;
    top: 290px;
}
#saveNewUserButton {
    position: absolute;
    left: 660px;
    top: 300px;
}
#showUserMessage {
    position: absolute;
    left: 230px;
    top: 240px;
    font-size: large;
}
img {
    width: 130px;
    height: auto;
    position: absolute;
    bottom: 30px;
    right: 57px;
}
footer {
  background-color: rgb(1, 28, 17, 0.85);
  margin-top: 292px;
  height: 100px;
  display: flex;
  border-radius: 5px 5px 25px 25px;
  box-shadow: 3px 3px 5px rgb(167, 163, 163, 0.5); 
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}