body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px;
    padding: 20px;
}

.product {
    height: 100px;
    width: 100px;
    background-color: silver;
    border: 1px solid gold;
    color: black;
}
 
#header {
    margin: 20px;
}

#container {
    margin: 20px;
}
